body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  
  header {
    background-color: #c9b3b3;
    color: #605a5a;
    padding: 20px;
  }

  h1 {
    margin: 0;
    font-size: 24px;
  }

  
  nav {
    background-color: #d0c3c3;
    color: #6b5b5b;
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  
  main {
    padding: 20px;
  }

  
  footer {
    background-color: #dae72a;
    color: #fff;
    padding: 20px;
    text-align: center;
  }